body {
    font: 15px/1.5 Arail,Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDCDD;
}
/* nav */
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
   
/* header */
header {
    background: #aca6a6ea;
    color: #ffffff;
    padding-top: 15px;
    height: 60px;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left
}
header #branding h1 {
    margin: 15px;
}
header nav {
    float: right;
    margin-top: 25px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
.highlight{
    font-style: italic;
    font-family: initial;
}
header :hover a {
    color: #cccccc;
    font-weight: bold; 
}
/* add button */
#add-button button{
    float: right;
    margin: 20px;
    font-size: 30px;
    background: #0D0D0D;
}
.add-link{
    text-decoration: none;
    border: none;
    color: #f1f1f1;
}
section {
    width: 100%;
    margin: 0px;
}
.full-table{
    font-size: 25px;
}
h2{
    color: #0D0D0D;
    font-weight: 50px;
    padding-top: -80px;
    margin: 30px;
}
.main-table {
    background-color: #FFA56E;
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin: 50px;
}
.main-table tr th{
    color: #0D0D0D;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
.main-table tr td{
    color: #ffffff;
    text-align: center;
    padding: 0 80px;
    font-size: 30px;
    margin: 0;
}
.main-table tr td:hover{
    color: #8C807D;
    opacity: 2;
}

.admin-image{
    border-radius: 25%;
    width: 150px;
    height: 100px;
    padding: -90px 0 2px 0;
}
.secondary-button{
    background-color: #0B0C0D;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.secondary-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 50px;
    color: #ffff;
}

/* update */
.update-form {
    width: 60%;
    height: 250px;
    color: #0B0C0D;
    background: #FFA56E;
    margin: 100px 0 0 300px;
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 30px;
}
input[type=text],[type=number]{
    width: 35%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #0B0C0D;
    border-radius: 10px;
    background: #f1f1f1;
}
.update a{
    border: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #8C807D;
    font-size: 20px;
    font-weight: 50px;
    border-radius: 5%;
    width: 10%;
}

/* Add item */
.add-form {
    width: 60%;
    height: 250px;
    color: #0B0C0D;
    background: #FFA56E;
    margin: 100px 0 0 300px;
    box-shadow: 20px 0px 10px 0px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 30px;
}
input[type=text],[type=number]{
    width: 35%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #0B0C0D;
    border-radius: 10px;
    background: #f1f1f1;
}
.add-item a{
    color: #ffffff;
    background-color: #8C807D;
    font-size: 20px;
    font-weight: 50px;
    border-radius: 5%;
    width: 10%;
    text-decoration: none;
}
button{
    border: none;
    color: #ffffff;
    background-color: #8C807D;
    font-size: 20px;
    font-weight: 50px;
    border-radius: 5%;
    width: 10%;  
}

/* responsive */

@media(max-width:1200px){
    header #branding, header nav, header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
        height: 90px;
    }
    #add-button button{
        float: right;
        margin: 10px;
        font-size: 25px;
        width: 30%;
    }
    h2{
        margin: 20px;
        font-size: 20px;
        width: 40%;
    }
    .main-table {
        margin: 5px;
        padding: 0;
        width: 95%;
        height: 580px;
    }
    .main-table tr th{
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    .main-table tr td{
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    .admin-image{
        border-radius: 10%;
        width: 150px;
        height: 80px;
        padding: 0;
    }
    .add-form {
        width: 70%;
        height: 250px;
        margin: 60px;
        text-align: center;
        font-size: 15px;
    }
    input[type=text],[type=number]{
        width: 45%;
        padding: 10px;
        margin: 20px;
        background: #f1f1f1;
    }
    button{
        width: 25%;
    }
    .update-form {
        width: 70%;
        height: 250px;
        margin: 60px;
        text-align: center;
        font-size: 15px;
    }
}